{
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/*.ts",
    "src/uml/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.spec.ts",
    "**/*.js"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary",
    "json",
    "lcov"
  ],
  "all": true,
  "instrument": true
}