out/test/**
src/**
test/**
doc/**
coverage/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig*.json
**/update_script.sh
**/package-lock.json
**/*.cpuprofile
**/*.vsix
**/*.map
**/*.ts
.*
.*/**
puml/**
.out/**
codecov.yml
eslint.config.js
*.zip
*.vsix
LICENSE

