version: 2.1

orbs:
  node: circleci/node@5.2.0
  codecov: codecov/codecov@4.1.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:20.10
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            - dependency-cache-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Compile TypeScript
          command: npm run compile
      - run:
          name: Run linter
          command: npm run lint || true
      - run:
          name: Run tests with coverage
          command: npm test
      - store_artifacts:
          path: coverage
          destination: coverage
      - codecov/upload:
          file: coverage/lcov.info

workflows:
  version: 2
  build-test:
    jobs:
      - build-and-test